# Nuxt
.nuxt
.output
.env
.env.*
!.env.example
!.env.production.example

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
pnpm-lock.yaml

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Logs
logs
*.log
build.log
build_log.txt
stress-test*.log

# Build
dist
.cache

# Misc
.turbo
.vercel
